* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* geral */
nav div,
header .box,
section .box-sec1 {
  width: 80%;
  margin: auto;
}
/* header */
header {
  margin: 20px 0;
}
header input {
  margin: 30px 0;
  height: 30px;
  width: 300px;
  padding: 0 15px;
}
header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 span {
  font-weight: 300;
}
header i {
  color: white;
  background-color: black;
  font-size: 20px;
  padding: 5px 30px;
  cursor: pointer;
}
/* sessao 1 */
.box-sec1 {
  display: flex;
  flex-wrap: wrap;
}
/* sessao 1 perfil */
.perfil img {
  width: 200px;
}
.perfil a {
  text-decoration: none;
  color: black;
}
.perfil .txt {
  margin-top: 20px;
}
.perfil .txt div {
  margin-top: 5px;
}
.perfil p {
  color: #6d6d6d;
}
.perfil .txt p {
  margin-left: 10px;
}
.perfil .txt div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
/* sessao 1 repositorios */

.repositorios {
  display: flex;
  flex-direction: column;
  height: 370px;
  margin-left: 5%;
  overflow: auto;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}
.itens a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 25px;
}
.itens p {
  color: #6d6d6d;
}
@media (max-width: 700px) {
  header .box {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .repositorios {
    padding-top: 20px;
    border-top: solid 1px;
    margin-top: 20px;
    margin-left: 0;
  }
  .box-sec1 {
    flex-direction: column;
  }
}
